html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
}/* CSS declarations go here */
.leaflet-container {
    height: 100%;
    width: 100%;
}
.flex-container,.flex-inner-container{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-items{
  padding: 10px;
  margin-top: 10px;
}
#main-map,#main-grid{
  width:100%;
  height:100%;
  z-index:0;
}

.img-items{
  width:36px;
  height:30px;
}
#detail-control,#order2{
  width:19%;
  -webkit-order:2;
  order:2;
}
#details{
  margin:0 auto;
  width:80%;
}
[id*='flex-img']{
  padding: 10px;
  width:30%;
}
#detail-control{
  display:none;
}
.css-icon {
    padding: 0.3em !important;
    width: auto !important;
    height: auto !important;
    border: solid 2px #333;
    border-radius: 0.5em;
    background-color: #eee;
    line-height: 1.2em;
    font-size: 0.7em;
    font-weight: bold;
}

.css-icon::before {
    content: "A";
}

/*
* material-icon next prev GridList
*/

#floating-btn{
  position:fixed;
  z-index:9999;
  right:10px;
  bottom: 20px;
}